#container {
  height: 100%;
  width: 100%;
}

#inner_container {
  height: 100%;
  width: 100%;
}

#image {
  height: 100%;
  width: 100%;
}

#paper {
  height: 20vh;
  width: 20vw;
}
#loading {
  height: 12vh;
  width: 12vw;
}
